@import "./../../../scss/variable";
@import "./../../../scss/mixin";

:host ::ng-deep .tabview-custom {
    li {
        a {
            font-size: 0.8rem;
            padding: 1rem 0.5rem;
            background: $color-default;
            color: $color-white;  
        }
        &:hover {
            background-color: $item-hover !important;
            @include transition-ease;
        }
        &.p-highlight {
            .p-tabview-nav-link {
                border-radius: 5px;
                background-color: $color-default !important;
                color: $color-white;
            }
        }
    }
}
:host ::ng-deep .p-button {
    margin-right: 0.25rem;
}
:host ::ng-deep .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

@media only screen and (min-width: $mobile-breakpoint) {
    :host ::ng-deep .tabview-custom {
        li {
            .p-tabview-nav-link {
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }
}
