<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <span>Alarms</span>
            </ng-template>
            <app-bp-table [list]="alarmList" [header-list]="tableHeader" [highlightSeverity]="true"></app-bp-table>
        </p-tabPanel>
        <p-tabPanel header="nodeType-Tab">
            <ng-template pTemplate="header">
                <span>Node Type</span>
            </ng-template>
            <app-bp-table [list]="nodeTypeList" [header-list]="tableHeader"></app-bp-table>
        </p-tabPanel>
        <p-tabPanel header="critical-tab">
            <ng-template pTemplate="header">
                <span>Critical</span>&nbsp;
                <small class="count">
                    ({{criticalList.length}})
                </small>

            </ng-template>
            <app-bp-table [list]="criticalList" [header-list]="tableHeader"></app-bp-table>
        </p-tabPanel>
        <p-tabPanel header="Major">
            <ng-template pTemplate="header">
                <span>Major</span>&nbsp;
                <small class="count">
                    ({{majorList.length}})
                </small>
            </ng-template>
            <app-bp-table [list]="majorList" [header-list]="tableHeader"></app-bp-table>
        </p-tabPanel>
    </p-tabView>
</div>