@import "./../scss/variable";
@import "./../scss/mixin";

.header {
    box-shadow: $box-shadow;
}
.main {
    &-container {
        &-menu {
        }
        &-data {
            @include container-box();
            margin: $box-margin;
            &-table {
            }
            &-chart {
            }
        }
    }
}
.progress-container {
    p-progressspinner {
        height: 80vh;
        display: flex;
        align-items: center;
    }
}
