<nav class="header">
  <app-header></app-header>
</nav>
<main *ngIf="isAjaxSuccess" class="main">
  <div class="main-container p-grid">
    <section class="main-container-menu p-col-12">
      <app-main></app-main>
    </section>
    <section class="main-container-data p-grid">
      <section class="main-container-data-table p-col-12">
        <app-bp-tabs [alarmList]="issueList"></app-bp-tabs>
      </section>
      <section class="main-container-data-chart p-col-12">
        <app-bp-chart [facets]="issueFacets"></app-bp-chart>
      </section>
    </section>
  </div>
</main>
<div *ngIf="!isAjaxSuccess" class="progress-container">
  <p-progressSpinner></p-progressSpinner>
</div>

<p-messages [value]="msgs"></p-messages>
