@import "./../../../scss/variable";
@import "./../../../scss/mixin";

:host p-toolbar {
    &::ng-deep {
        .p-toolbar {
            background: linear-gradient($header-color1, $header-color2);
            color: $color-white;
            display: flex;
            &-group-left {
            }
            &-group-right {
                flex-basis: 100vw;
                justify-content: flex-end;
                @include transition-ease;
                span {
                    &.user {
                        display: flex;
                        margin: 0 $box-margin;
                        &-greet {
                            padding-top: 5px;
                            color: $icon-color;
                        }
                        &-name {
                            padding-top: 5px;
                            font-weight: 600;
                            margin: 0px 10px;
                            color: $color-white;
                        }
                        &-icon {
                            color: $color-default;
                            .p-avatar {
                                background: $color-white;
                            }
                        }
                    }
                    &.signout {
                        flex-basis: 80px;
                        flex-grow: 1;
                        flex-shrink: 2;
                        color: $icon-color;
                        cursor: pointer;
                    }
                    &.notification {
                        flex-basis: 80px;
                        flex-grow: 1;
                        flex-shrink: 2;
                        margin: 0px 10px;
                        cursor: pointer;
                        .p-overlay-badge {
                            &::before {
                                color: $icon-color;
                            }
                            ::ng-deep {
                                .p-badge {
                                    background-color: $critical;
                                    justify-content: center;
                                }
                            }
                            &.badge-hide {
                                ::ng-deep {
                                    .p-badge {
                                        display: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

:host p-overlaypanel {
    &.overlay-container {
    }
    ::ng-deep {
        .p-overlaypanel {
            width: 80vw;
            .p-overlaypanel-content {
                padding: 0.5rem;
                .overlay-table {
                    padding: 0.5rem;
                    border-radius: 10px;
                    .head-row {
                        .head-col {
                            padding: 0.5rem;
                            font-weight: 600;
                            color: $color-default;
                            i {
                                color: $color-default;
                            }
                        }
                    }
                    .row {
                        .col {
                            padding: 0.5rem;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }
}

:host p-messages {
    ::ng-deep {
        .p-message-wrapper {
            border: 2px solid $color-default;
            padding: 0.5rem;
            margin: $box-margin;
            border-radius: 4px;
        }
    }
}

@media only screen and (min-width: $tablet-breakpoint) {
    :host p-overlaypanel {
        ::ng-deep {
            .p-overlaypanel {
                width: 70vw;
            }
        }
    }
}

@media only screen and (min-width: $desktop-breakpoint) {
    :host p-overlaypanel {
        ::ng-deep {
            .p-overlaypanel {
                width: 50vw;
            }
        }
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    :host p-toolbar {
        &::ng-deep {
            .p-toolbar-group-right {
                flex-basis: 20vw;
            }
        }
    }
}

@media only screen and (max-width: $mobile-breakpoint){
    :host p-toolbar {
        &::ng-deep {
            .p-toolbar {
                &-group-right {
                    span {
                        display: flex;
                        &.user {
                            flex: 10;
                            justify-content: flex-end;
                        }
                        &.signout {
                            flex: 1;
                            justify-content: flex-end;
                        }
                        &.notification {
                            flex: 1;
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }
    
}
