<p-toolbar class="header">
    <div class="p-toolbar-group-left">
        <img src="assets/images/logo-dark.svg" height="30" class="p-mr-2">
    </div>

    <div class="p-toolbar-group-right">
        <span class="user">
            <span class="user-greet">Welcome</span>
            <span class="user-name">Shekhar</span>
            <span class="user-icon">
                <p-avatar icon="pi pi-user" shape="circle"></p-avatar>
            </span>
        </span>
        <span class="notification">
            <i class="pi pi-bell" pBadge style="font-size: 1.5rem;" [ngClass]="{'badge-hide': notificationCount == 0}"
                [value]="notificationCount" (click)="issueList.length && notificationPanel.toggle($event)"></i>
        </span>

        <span class="signout">
            <i class="pi pi-sign-out" style="font-size: 1.5rem" (click)="signOut()"></i>
        </span>

    </div>
</p-toolbar>


<p-confirmDialog header="SignOut" icon="pi pi-sign-out"></p-confirmDialog>

<p-messages [value]="msgs"></p-messages>

<p-overlayPanel class="overlay-container" #notificationPanel>
    <ng-template pTemplate>
        <p-table class="overlay-table" [value]="issueList" selectionMode="single" [(selection)]="selectedItem"
            [paginator]="(issueList.length > 5)? true: false" [rows]="5">
            <ng-template pTemplate="header">
                <tr class="head-row">
                    <th class="head-col" *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowData let-item>
                <tr class="row" [pSelectableRow]="rowData">
                    <td class="col" *ngFor="let col of cols">
                        {{item[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </ng-template>
</p-overlayPanel>