@import "./../../../scss/variable";
@import "./../../../scss/mixin";

:host .main-list {
    @include flex();
    margin: 0 $box-margin;
    justify-content: space-between;
    .home {
        @include button;
    }
    .item {
        .menu {
            button {
                background-color: $btn-bgcolor;
                color: $color-white;
                &:hover {
                    background-color: $btn-bghover;
                }
            }
            p-menu {
                ::ng-deep {
                    .p-submenu-header {
                        padding: 0;
                    }
                }
            }
        }
        .back {
            @include button;
        }
    }
}

:host p-dialog {
    ::ng-deep {
        .p-dialog {
            width: 80vw;
            .p-dialog-header,
            .p-dialog-content {
                padding: 0px;
                .p-message-wrapper {
                    justify-content: center;
                    color: $color-default;
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
    :host p-dialog {
        ::ng-deep {
            .p-dialog {
                width: 60vw;
            }
        }
    }
}

@media only screen and (min-width: $desktop-breakpoint) {
    :host p-dialog {
        ::ng-deep {
            .p-dialog {
                width: 30vw;
            }
        }
    }
}
