<section class="main-list">
    <span class="home p-mb-2 p-mr-2">
        <p-button label="Home" icon="pi pi-home" (onClick)="handleClick($event)" iconPos="left"></p-button>
    </span>
    <div class="item">
        <span class="menu p-mb-2 p-mr-2">
            <button type="button" pButton icon="pi pi-list" label="Menu" (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
        </span>
        <span class="back p-mb-2 p-mr-2">
            <p-button label="Back" icon="pi pi-angle-left" (onClick)="handleClick($event)" iconPos="left"></p-button>
        </span>
    </div>
</section>


<p-dialog [(visible)]="display" [modal]="true" [baseZIndex]="10000"
    [closable]="false">
    <p-messages [value]="actionMessage" [closable]="false"></p-messages>
</p-dialog>