@mixin flex($h: flex-start, $v: flex-start, $dir: row) {
    display: flex;
    flex-direction: $dir;
    justify-content: $h;
    align-items: $v;
}

@mixin container-box($h: flex-start, $v: flex-start, $dir: row) {
    @include flex($h, $v, $dir);
    box-shadow: $box-shadow;
    padding: $box-padding;
    transition: $transition-dur $transition-ease;
    box-shadow: $box-shadow;
    background-color: $background-color;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin button {
    ::ng-deep {
        p-button {
            button.p-button {
                background-color: $btn-bgcolor;
                color: $color-white;
                &:hover {
                    background-color: $btn-bghover;
                }
            }
        }
    }
}
