// Colors

$color-default: #007CBE;
$color-danger: #e9667b;
$color-white: #ffffff;
$color-disable: #ccc;
$color-black: #000000;
$text-color :#2e2e2e;
$color-separator: #70707040;
$background-color: #EAF1F7;
$icon-color-w: #2e2e2e;
$theme-color: #007CBE;
$icon-color: #c8e2de;
$header-color1: #009EDA;
$header-color2: #007CBE;
$btn-bgcolor: #007CBE;
$btn-bghover: #298FD8;
$item-hover: #e9ecef;


//box
$box-padding: 10px;
$box-margin: 15px;
$box-radius: 2px;
$box-border: 1px solid $color-default;
$box-border-highlight: 1px solid darken($color-default, 10%);
$box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
$heading-font: 20px;


// Transition
$transition-dur: 0.2s;
$transition-ease: linear;

//severity-colors
$critical: #e71d1d;
$major: #ef8e00;
$minor: #ddd326;


//devices breakpoint for media queries
$desktop-breakpoint: 1025px;
$tablet-breakpoint: 641px;
$mobile-breakpoint: 640px;

