@import "./../../../scss/variable";
@import "./../../../scss/mixin";

.card{
    @include flex();
    background-color: white;
    justify-content: center;
    .chart{
        margin: $box-margin;
        &-title{
            text-align: center;
            font-size: $heading-font;
            color: $color-default;
        }
    }
    
}