<div class="card">
    <div class="chart">
        <div class="chart-title"> Severity Chart</div>
        <p-chart type="doughnut" class="chart-data" [height]="'40vh'" [width]="'40vh'" [responsive]="true" [data]="data">
        </p-chart>
    </div>
</div>