@import "./../../../scss/variable";
@import "./../../../scss/mixin";

:host .card {
    .issue-table {
        ::ng-deep {
            .p-component {
                font-size: 0.8rem;
            }
        }
        .header-row {
            th {
                padding: 0.5rem;
                color: $color-default;
                i {
                    color: $color-default;
                }
            }
        }
        .row {
            td {
                padding: 0.5rem;
                font-size: 0.8rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:hover {
                background-color: $item-hover;
            }
        }
    }
    .critical {
        border-radius: 2px;
        padding: 0.25em 0.5rem;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.3px;
        background-color: #e71d1d6f;
        color: #e71d1d;
    }
    .major {
        @extend .critical;
        background-color: #ef8e003f;
        color: #ef8e00;
    }
    .minor {
        @extend .critical;
        background-color: #ddd3264f;
        color: #ddd326;
    }
    .warning {
        @extend .critical;
        background-color: #7d85b23f;
        color: #7d85b2;
    }
    .undefined {
        @extend .critical;
        background-color: #99b4ba3f;
        color: #99b4ba;
    }
}

@media only screen and (min-width: $mobile-breakpoint) {
:host  .card {
        .issue-table {
            ::ng-deep {
                .p-component {
                    font-size: 1rem;
                }
            }
            .row {
                td {
                    padding: 0.5rem;
                    font-size: 0.9rem;
                }
                &:hover {
                    background-color: $item-hover;
                }
            }
        }
    }
}
