<div class="card">
    <p-table  class="issue-table" [value]="issueList" [(selection)]="selectedItems" (onRowSelect)="onRowSelect($event.data)" [paginator]="true"
        [rows]="5" (onRowUnselect)="onRowUnselect($event.data)" (onHeaderCheckboxToggle)="allRowSelect($event)">
        <ng-template pTemplate="header">
            <tr class="header-row">
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th *ngFor="let col of cols">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>

            <tr class="row">
                <td>
                    <p-tableCheckbox [value]="item"></p-tableCheckbox>
                </td>
                <td *ngFor="let col of cols">
                    <ng-container [ngSwitch]="col.field">
                        <ng-container *ngSwitchCase="'last-raise-time'">
                            {{item[col.field] | date : 'medium'}}
                        </ng-container>
                        <ng-container *ngSwitchCase="'condition-severity'">
                            <span [class]="highlightSeverity ? item[col.field].toLowerCase():''">
                                {{item[col.field]}}
                            </span>
                        </ng-container>
                        <ng-container *ngSwitchCase="'manual-clearable'">
                            {{item[col.field]? 'Yes' :'No' }}
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            {{item[col.field]}}
                        </ng-container>
                    </ng-container>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>