/* You can add global styles to this file, and also import other style files */

@import "./scss/variable";
@import "./scss/mixin";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;  
  }

  .main{
    @include container-box();
}